@import url(./style.css);

.section-servicos {
    background-color: var(--color-Servicos);
    padding: 4rem 4rem 0 8rem;
    padding-bottom: 0;
}

.box-servicos {
    display: flex;
    gap: 2rem;
    background-image: url(./icons/JardineiroIcon.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: 100%;
    background-position-y: 15rem;
    padding-bottom: 15rem;
    width: 100%;
}

.image-servicos {
    width: 100vw;
    margin-bottom: -4px;
    border: 0px;
}

.box-atividades,.box-profissionais {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.box-atividades{
    width: 50%;
}

.ul-servicos {
    text-indent: -1.8rem;
    list-style: inside;
    margin-left: 3rem;
}

.ul-atividades{
    width: 80%;
}


@media screen and (max-width: 915px) {

    .section-servicos {
        padding: 4rem;
    }

    .box-servicos {
        display: flex;
        gap: 2rem;
        background-image: url(./icons/Jardineiro915.svg);
        background-repeat: no-repeat;
        width: 90%;
        padding-bottom: 8rem;
        background-position-y: 20rem;
    }
}

@media screen and (max-width: 715px) {

    .section-servicos {
        padding: 2rem;
    }

    .box-servicos {
        flex-direction: column;
    }

    .ul-servicos {
        text-indent: -1.5rem;
    }
    
    .ul-atividades{
        width: fit-content;
    }

    .box-atividades{
        width: fit-content;
    }

    .box-servicos {
        display: flex;
        gap: 2rem;
        background-image: url(./icons/JardineiroMobile.svg);
        background-repeat: no-repeat;
        width: 100%;
        padding-bottom: 6rem;
        background-position-y: 30rem;
    }
}

@media screen and (max-width: 410px) {
    .box-servicos {
        display: flex;
        gap: 2rem;
        background-image: url(./icons/JardineiroMobile.svg);
        background-repeat: no-repeat;
        width: 100%;
        padding-bottom: 8rem;
        background-position-y: 36rem;
    }
}