html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {

    /*Fonts*/
    --font-Bold: 'Gilroy-Bold', sans-serif;
    --font-Heavy: 'Gilroy-Heavy', sans-serif;
    --font-Light: 'Gilroy-Light', sans-serif;
    --font-Medium: 'Gilroy-Medium', sans-serif;
    --font-Regular: 'Gilroy-Regular', sans-serif;

    /*Colors*/
    --color-Header: #62BEAC;
    --color-Nav: #91AF68;
    --color-Nav-Alt: #739347;
    --color-Text: #E6F2E5; /*nav, body e footer*/
    --color-Text-Holder: #979997; /*Cor do texto antes do preenchimento do formulário*/
    --color-Text-Icons: #FFFFFF;
    --color-Servicos: #278D79;
    --color-Sobre-Nos-Text: #278D79;
    --color-Blank: #91AF68;
    --color-Back-Form-Home: rgba(98, 190, 172, 0.25);
    --color-Back-Form: #E6F5E7;

}

body {
    font-family: var(--font-Light);
    color: var(--color-Text);
}

a {
    text-decoration: none;
    color: var(--color-Text);
}



a:visited {
    color: var(--color-Text);
}

.current-page {
    font-family: var(--font-Bold);
}


/*Textos e fontes padrão*/
.color-text {
    color: var(--color-Text);
    font-family: var(--font-Light);
}

.title-decoration {
    font-family: var(--font-Bold);
    font-size: 30px;
}

.paragrafo-text {
    font-size: 20px;
    font-family: var(--font-Light);
    line-height: 30px;
}

.title-text-gap {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
/*Textos e fontes padrão*/

.faixa-logo {
    background-color: var(--color-Header);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 8rem 1rem 6rem;
}

.logo-name {
    display: block;
    width: 344.93px;
    height: 83.37px;
    margin: 0px;
    margin-left: 0px;
    padding-left: 0px;
}

#nav {
    display: none;
}

.social-links {
    display: grid;
    grid-template-areas:
    "item item item item";
    gap: 1rem;
}

.social-links-icons {
    max-width: 73px;
    width: 43px;
}

nav {
    background-color: var(--color-Nav);
    font-family: var(--font-Bold);
    color: var(--color-Text);
    font-size: 20px;
    padding: .3rem 8rem;
}

.ul-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.image-footer {
    width: 100vw;
    height: 100%;
    padding-bottom: 10%;
    background-position: center;
    background-size: cover;
    background-image: url(/images/FooterImage.jpg);
}

.image-overlay-footer {
    width: 95%;
    height: 100%;
    padding-bottom: 10%;
    display: flex;
    background-image: url(/icons/LogoFooter1110.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: right;
}

.box-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 14rem;
    padding: 0 6rem
}

.links-footer {
    width: 30%;
}

.middle-footer{
    margin-top: 2rem;
}

.h1-footer {
    color: var(--color-Text);
    font-weight: 800;
}

.li-footer {
    color: var(--color-Text);
}

.li-footer:visited {
    color: var(--color-Text);
}

.ul-footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.social-links-footer{
    display: none;
}

/*915px - vou ter que fazer uma viewport de celular*/

@media screen and (max-width: 1110px) {

    body {
        height: 100vh;
        width: 100%;
    }
    
    .title-decoration {
        font-size: 30px;
    }

    .paragrafo-text {
        font-size: 21px;
    }

    .image-overlay-footer {
        background-image: url(/icons/LogoFooter1110.svg);
    }

    .box-footer {
        margin-top: 11rem;
        padding: 0 5rem
    }

    .ul-footer {
        gap: 1rem;
    }

}

@media screen and (max-width: 915px) {
    body {
        height: 100vh;
        width: 100%;
    }

    .faixa-logo{
        padding: 1rem 6rem 1rem 4rem;
    }

    nav {
        font-size: 18px;
        padding: 0.3rem 6rem;
    }

    .paragrafo-text {
        font-size: 21px;
    }

    .links-decoration {
        font-family: var(--font-Light);
    }

    .links-decoration:visited {
        color: var(--color-Text);
    }

    .image-overlay-footer {
        background-image: url(/icons/LogoFooter915.svg);
    }
}


@media screen and (max-width: 715px) {

    nav {
        display: none;
    }

    .social-links {
        display: none;
    }

    .mobile-menu {
        display: block;
        margin-right: 2rem;
    }

    .title-decoration {
        font-size: 24px;
    }

    .paragrafo-text {
        font-size: 16px;
        line-height: 24px;
    }

    .faixa-logo {
        padding: 1rem;
    }

    .ul-box {
        padding: 0;
    }

    nav,.h1-footer,.li-footer {
        font-size: 18px;
    }
    
    .social-links {
        display: none;
        gap: 1rem;
        margin-right: 1rem;
    }

    .logo-name {
        width: 269.53px;
        height: 65.15px;
    }

    .mobile-menu {
        display: block;
    }

    .mobile-menu {
        margin-right: 2rem;
    }

    #nav {
        display: block;
    }

    #menu {
        position: absolute;
        visibility: hidden;
        right: 0;
        margin-right: 1rem;
        transition: .6s;
        z-index: 1000;
        overflow-y: hidden;
        height: 0px;
    }

    .buttons-menu {
        display: flex;
        width: fit-content;
        align-items: center;
        justify-content: center;
    }

    /* #btn-mobile{
        width: 32px;
        cursor: pointer;
    } */

    /*MENU NOVO INÍCIO*/
    #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        cursor: pointer;
        font-size: 1rem;
        background: none;
        border: none;
    }

    #hamburguer {
        display: flex;
        flex-direction: column;
        color: var(--color-Back-Form);
        width: 32px;
        background-image: url(/icons/BarraHamburguer.svg);
        background-repeat: no-repeat;
        background-size: 32px;
        transition: .6s ease;
    }

    #hamburguer::before {
        margin-top: 10px;
        width: 32px;
        height: 7px;
        background-image: url(/icons/BarraHamburguer.svg);
        background-repeat: no-repeat;
        background-size: 32px;
        content: '';
        display: block;
        transition: .6s;
    }

    #hamburguer::after {
        margin-top: 2.5px;
        width: 32px;
        height: 7px;
        background-image: url(/icons/BarraHamburguer.svg);
        background-repeat: no-repeat;
        background-size: 32px;
        content: '';
        display: block;
        transition: .6s;
        position: relative;
    }

    #nav.active #hamburguer {
        background-size: 0px;
        transition: .6s;
    }

    #nav.active #hamburguer::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -9px;
    }
    /*MENU NOVO FIM*/

    #nav.active #menu {
        transition: 1s;
        visibility: visible;
        height: 100%;
        overflow-y: auto;
    }

    #nav.active #btn-mobile {
        background-color: none;
    }

    b {
        font-family: var(--font-Bold);
        font-weight: 900;
    }

    .li-decoration-alt1 {
        padding: 1rem;
        background-color: var(--color-Blank);
    }

    .li-decoration-alt2{
        background-color: var(--color-Nav-Alt);
        padding: 1rem;
    }

    .links-decoration {
        font-family: var(--font-Light);
    }

    .links-decoration:visited {
        color: var(--color-Text);
    }

    .social-links-footer {
        margin-top: 5.7rem;
        padding: 3rem;
        display: flex;
        position: absolute;
        flex-direction: column;
        right: 0;
        gap: 1rem;
    }

    .box-footer {
        padding: 3rem;
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        gap: 1.7rem;
    }  

    .links-footer {
        width: 72%;
    }

    .image-overlay-footer {
        background-image: url(/icons/LogoFooter715.svg);
    }

    .ul-footer {
        gap: 0.7rem;
    }

}

@media screen and (max-width: 410px) {

    .logo-name {
        width: 269.53px;
        height: 65.15px;
    }

    .social-links-footer {
        margin-top: 2.9rem;
        padding: 2rem;
        display: flex;
        position: absolute;
        flex-direction: column;
        right: 0;
        gap: 1rem;
    }
    
    .box-footer {
        padding: 2rem;
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        gap: 1.7rem;
    }  

    .li-footer {
        font-size: 16px;
    }

    .links-footer {
        width: 62%;
    }

    .middle-footer{
        margin-top: 0;
    }

    .links-middle {
        display: flex;
        flex-direction: column;
        gap: 1.7rem;
    }

    .image-overlay-footer {
        background-image: url(/icons/LogoFooter390.svg);
    }
}